
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:where(.css-dev-only-do-not-override-1ck3jst).ant-card .ant-card-cover >* {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    background: #001524;
}
.ant-card.ant-card-bordered.ant-card-hoverable.css-dev-only-do-not-override-1ck3jst {
    background: #001524;;
}

.ant-card-body{
    background-color: #001524;
}